body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: 63px 1fr;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

a.button {
  text-decoration: none;
  display: inline-block;
}
@media screen and (max-height: 700px) {
  .header {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 80px;

  background-color: #fa0000;}

  .header-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
  }
  
  
  .header-items li {
    margin-right: 0px;
  }
}


/* @media screen and (min-height: 700px) {
  .header {
    position: fixed;
  }
  .content-container {
    position: relative;
    top: 63px;
  }
} */

.header {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 63px;

  background-color: #f30000cc;
}

.header, .menu {
  font-family: 'Hind Guntur', 'font-regular', Fallback, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.2;
  color: #212529;
}

.header-container {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

@media (min-width: 1200px) {
  .header-container {
      max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

.header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.header-items li {
  margin-right: 30px;
}




.start-page {
  display: flex;
  flex-direction: column;
  padding: 24px 15px;
}

@media (min-width: 768px) {
  .start-page {
    padding-left: 63px;
  }
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
}

.content-column-1 {
  width: 20%;
  height: 100%;
  border-right: 0.5px solid #DDDDDD;
  display: none;
  flex-shrink: 0;
}

.content-column-2 {
  width: 100%;
  overflow-x: scroll;
}

@media screen and (min-width: 992px) {
  .content-column-1 {
    display: unset;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aeffffcc;
  height: 100%
}

.menu-list {
  padding: 0;
  list-style: none;
  display: block;
  width: 100%;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  padding: 16px 24px 11px 24px;
  min-width: 80%;
  text-align: left;
}

.menu-item::after {
  content: '';
  display: inline-block;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  border-color:#0065BD;
  width: 12px;
  height: 12px;
  left: 25%;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

.menu-item:hover, .menu-item:active {
  background-color: #D1D2D6;
  color: #000000;
}

.logo-wrapper {
  margin: 42px 30px 36px 30px;
}

.background-image {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.ecounter-container {
  text-align: center;
  display: inline-block;
  padding: 70px 0;
}

.centre {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.generate-button{
  background-color: #00bef8; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
}

.generate-button:hover{
  background-color: #00bef8b0; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
}

.page-header{
  display: table;
  margin-top: 0px;
  position: absolute;
  top: 10%;
  left: 45%;
  width: 50%;
}

.table {
  display: table;
  margin-top: 50px;
  position: absolute;
  top: 20%;
  left: 55%;
  width: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid;
}

.table-cell {
  border: 1px solid;

}

.table_container {
  max-width: 750px;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 60%;
  border-spacing: 0;
}

caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table th.up {
  background-image: url("./images/up_arrow.png");
}
.table th.down {
  background-image: url("./images/down_arrow.png");
}
.table th.default {
  background-image: url("./images/default.png");
}
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
  background: #fff;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.1s linear;
  }
} */

/* .App-header {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 0, 0);
}

.App-link {
  color: #61dafb;
}

.button-colour {
  background-color:rgb(245, 208, 162);
  padding: 15px 32px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 


